<header>
  <div href="#" class="col-md-4"><img src="sid.png" alt="Famil Logo"/></div>
  <div href="#" class="col-md-3">Family Name</div>
  <div href="#" class="col-md-1">About</div>
  <div href="#" class="col-md-1">Biography</div>
  <div href="#" class="col-md-1">Contact us</div>
  <div href="#" class="col-md-1">
    <nav>
      <a routerLink="/loginpage">Login</a>
    </nav>
  </div>
  <div href="#" class="col-md-1">
    <nav>
      <a routerLink="/signuppage">Signup</a>
    </nav>
  </div>
</header>
<section>
  <h3>Family Tree in the middle of the home page with a background picture<br>
    Default is Photo with first name on the Top</h3>
</section>